.contentWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftWrapper h2 {
  padding-left: 15px;
}
.leftWrapper {
  text-align: start;
  box-shadow: 3px 3px 5px rgba(176, 168, 184, 0.836);
  flex: 2.3;
}
.leftWrap {
  /* border: 2px solid rgba(177, 169, 157, 0.801); */
  flex: 2.3;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.rightWrap {
  border: 1px solid green;
  padding: 15px;
  flex: 1;
}

.postImg {
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
.postDP {
  margin-right: 7px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 480px;
  border-radius: 10px;
  border: 2px solid rgba(127, 64, 185, 0.884);
  padding: 10px;
  /* box-shadow: 3px 3px 5px rgba(136, 79, 189, 0.74); */
}
.likeComment {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
