.navbar {
  margin: 0px;
  border: 2px solid rgb(211, 194, 194);
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  position: sticky;
  /* width: 100%; */
}
.navitem {
  padding: 0px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
i {
  font-size: 27px;
  padding: 0px 3px;
  color: rgb(124, 50, 153);
}
li i {
  padding: 0px 20px;
}
.profileImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 5px;
}
.profilenav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar h2 {
  margin: 5px 0px;
}
@media screen and (max-width: 860px) {
  .navbar {
    background-color: rgb(202, 192, 192);
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 999;
  }
  .profilenav {
    div {
      display: none;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  i {
    font-size: 15px;
    padding: 0px 3px;
  }
  .navitem {
    width: 20px;
  }
}
